*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    
}


.headers{

    display: flex;
    justify-content: space-between;
    margin: 5px;

}


body{
    background-color: yellowgreen;
}
#comp, #player{
    width: max-content;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;

    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; */

}
#computer-emoji, #player-emoji{
    width: 100px;
    height: 100px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  font-size: 70px;
  
}
.result{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: px;
   background-color: yellow;
}
.choices{
    width: max-content;
    margin: auto;
    

    
}
